<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Weather Forecast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
    <link href="styles.css" rel="stylesheet"></head>
<body>
<div class="wrapper">
    <header>
        <div class="avatar"></div>
        <h1>Have a good day!</h1>
        <div id="time" class="time">
        </div>
    </header>
    <main>
        <p>Login or Register with:</p>

        <a href="/login"><span></span> Local Login</a>
        <a href="/signup"><span></span> Local Signup</a>
        <div class="background">
        </div>
        <div id="weather" class="weather">
        </div>

    </main>
    <footer>
        <p>Copyright 2016, Anastasiia Tymchenko</p>
    </footer>
</div>
<script type="text/javascript" src="bundle.js"></script></body>
</html>



<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
    <!--<title>Node Authentication</title>-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <!--<style>-->
        <!--body        { padding-top:80px; }-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->

    <!--<div class="jumbotron text-center">-->
        <!--<h1><span class="fa fa-lock"></span> Node Authentication</h1>-->

        <!--<p>Login or Register with:</p>-->

        <!--<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>-->
        <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
    <!--</div>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->

