<div class="js-weather">
    <div class="weather__city js-weather-city"></div>
    <div>
        <span class="weather__header">Temperature: </span>
        <span class="weather__data_temp js-weather-temperature"></span>
        <span>%</span>
    </div>
    <div class="weather-humidity">
        <span class="weather__header">Humidity: </span>
        <span class="weather__data_humidity js-weather-humidity"></span>
        <span>%</span>
    </div>
    <div class="weather-wind">
        <span class="weather__header">Wind: </span>
        <span class="weather__data_wind js-weather-wind"></span>
        <span>%</span>
    </div>
</div>